.ctx {
  position: relative;
  width: 100%;
  height: 100%;
}
body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.positioner {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 143px;
  height: 124px;
}
.cd .case {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.cd .case .lid {
  -webkit-transform-origin: 5% 50%;
  transform: rotateY(0deg);
  transition: all 1s ease-in-out;
}
.cd .case .lid .cover {
  position: absolute;
  top: 2.4194%;
  left: 10.4985%;
  right: 2.4194%;
  bottom: 2.4194%;
}
.cd .case .lid .pressed {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}
.cd .case .lid .pressed .top {
  position: absolute;
  top: 0%;
  bottom: 97.5806%;
  left: 0%;
  right: 0%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAGElEQVQIW2N8+PBhGuPbt29nMq5YsWImAEclCP4yWfYLAAAAAElFTkSuQmCC");
  background-repeat: repeat-x;
  background-size: 1px 100%;
}
.cd .case .lid .pressed .bottom {
  position: absolute;
  top: 97.5806%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAGElEQVQIW2N8+PBhGuPbt29nMq5YsWImAEclCP4yWfYLAAAAAElFTkSuQmCC");
  background-repeat: repeat-x;
  background-size: 1px 100%;
}
.cd .case .lid .pressed .right {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 97.5806%;
  right: 0%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAFUlEQVQIW2N0c3MzZmRkfPbnzx9jABiNBRf5T9WUAAAAAElFTkSuQmCC");
  background-repeat: repeat-y;
  background-size: 100% 1px;
}
.cd .case .bar {
  position: absolute;
  top: 2.4194%;
  left: 0%;
  right: 90.9091%;
  bottom: 2.4194%;
  background-color: #333;
  overflow: hidden;
}
.cd .case .bar .ridge:nth-child(even) {
  margin-left: 1px;
  margin-right: 1px;
  height: 100%;
  width: 1px;
  background-color: #111;
  float: left;
}
.cd .case .bar .ridge:nth-child(odd) {
  height: 100%;
  width: 1px;
  background-color: #222;
  float: left;
}
.cd .case .tray {
  position: absolute;
  top: 2.4194%;
  left: 9.0909%;
  right: 2.4194%;
  bottom: 2.4194%;
  background-color: #333;
  overflow: hidden;
}
.cd .case .tray .template {
  position: absolute;
  top: -2%;
  left: 1%;
  right: 1%;
  bottom: -2%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 20px #000;
}
.cd .case .back {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}
.cd .case .back .top {
  position: absolute;
  top: 0%;
  bottom: 97.5806%;
  left: 0%;
  right: 0%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAGElEQVQIW2N8+PBhGuPbt29nMq5YsWImAEclCP4yWfYLAAAAAElFTkSuQmCC");
  background-repeat: repeat-x;
  background-size: 1px 100%;
}
.cd .case .back .bottom {
  position: absolute;
  top: 97.5806%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAGElEQVQIW2N8+PBhGuPbt29nMq5YsWImAEclCP4yWfYLAAAAAElFTkSuQmCC");
  background-repeat: repeat-x;
  background-size: 1px 100%;
}
.cd .case .back .right {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 97.5806%;
  right: 0%;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAFUlEQVQIW2N0c3MzZmRkfPbnzx9jABiNBRf5T9WUAAAAAElFTkSuQmCC");
  background-repeat: repeat-y;
  background-size: 100% 1px;
}
